<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Specify EITHER the AWS ProfileName and Region for using AWS Dynamo, 
		 OR the DynamoServiceURL if using the local DynamoDB java application -->
		<!--<add key="AWSProfileName" value="default" />
		<add key="AWSRegion" value="ap-southeast-2" />-->
		<add key="DynamoServiceURL" value="http://localhost:8000" />
	</appSettings>
</configuration>