<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.4.3" targetFramework="net451" />
  <package id="AWSSDK.DynamoDBv2" version="3.1.1.4" targetFramework="net451" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net451" />
  <package id="Quartz" version="2.3.3" targetFramework="net451" />
</packages>